.post-html hr:after {
        width: 100% !important;
}

h3 {
        display: -webkit-inline-box;
}

.timeline-title:after {
        width: 100% !important;
}

.post-html h1,
.post-html h2,
.post-html h3,
.post-html h4,
.post-html h5,
.post-html h6 {
        display: table;
}

.post-html h1:after,
.post-html h2:after,
.post-html h3:after,
.post-html h4:after,
.post-html h5:after,
.post-html h6:after {
        width: 100% !important;
        left: 0;
}

.underlinedGradientH {
        padding-bottom: 0.5rem;
        position: relative;
        display: table;
}

.underlinedGradientH:after {
        border-radius: 9999px;
        height: 0.25rem;
        position: absolute;
        bottom: 0;
        content: "";
        background: var(--main-gradient);
        width: 100% !important;
        left: 0;
}

.underlinedGradientP {
        display: -webkit-inline-box;
}

.underlinedGradientP:after {
        border-radius: 9999px;
        height: 0.25rem;
        position: absolute;
        bottom: 0;
        content: "";
        background: var(--main-gradient);
        width: 100% !important;
        left: 0;
}